<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Angular JS Training</title>

  <!-- Bootstrap -->
  <link href="../resources/css/bootstrap.min.css" rel="stylesheet">
  <link href="../resources/css/docs.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    </head>
    <body>


      <div class="container">

        <div class="row">
          <div class="col-md-12">
            <h1 class="jumbotron"><img src="http://angularjs.org/img/AngularJS-large.png" alt=""></h1>
          </div>

        </div>

        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <h2 id="js-overview" class="page-header">Overview</h2>

                <h3 id="js-why-angular">Why Angular JS?</h3>
                <p> AngularJS is a toolset for building the framework most suited to your application development. It is fully extensible and works well with other libraries. Every feature can be modified or replaced to suit your unique development workflow and feature needs.</p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">

                <h3 id="js-downloading">Downloading Angular and dependencies</h3>
                <p>
                  Using Angular is as easy as including one JavaScript file and writing HTML markup. So, let's download Angular now. Go to angularjs.org and click the Download button. You'll have several options here for the download, stable and minified is fine.
                </p>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <img src="img/download-page.png" alt="">
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 id="integrate" class="panel-title">Integrate the library</h4>
                  </div>
                  <div class="panel-body">
                    <code>&lt;script type="text/javascript" src="js/angular.min.js"> &lt;/script&gt;</code>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">To activate Angular, we need to modify the HTML tag. Type a space and then ng/app</h4>
                  </div>
                  <div class="panel-body">
                    <code>&lt;html lang="en" ng-app&gt;</code>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">Type in some code where people will be able to add their name and be greeted.</h4>
                  </div>
                  <div class="panel-body">
                    <code>
                      &lt;h1&gt;Hello, {{name}}&lt;/h1&gt;
                    </code>
                    <code>
                      &lt;input type="text" name="name" id="name" placeholder="type your name..." ng-model="name"&gt;
                    </code>
                  </div>
                </div>

                <p>
                  Double curly braces are going to act as a place holder for the name variable.
                  The input name has an angular directive. This one is called ng model. Ng model is going to be set to name. So this way, when someone types their name in the input, it'll automatically be reflected in the h1 tag because the ng-model directive is binding the name variable.

                  We already have Angular itself, and we don't necessarily need any of these other files. However, later on we'll be wanting to deal with server side resources. Angular resource will allow us to do this. So, download angularresource.min.js from the “Extras” link from the download lightbox.
                </p>

              </div>
            </div>

            <div class="row">
              <div class="col-md-12">

                <h3 id="js-starting-server">Starting a Node Server</h3>

                <h4 class="page-header">Why use Node.js</h4>

                <p>
                  Node is just JavaScript without a browser. We can run pretty much any standard JavaScript here and we're not using a web browser. The way node js handles evented programming makes it helpful for handling things like streams and sockets and very large files. Node makes it possible for you to take advantage of everything Javascript has to offer without being tied to a browser.
                  Node.js ships with a lot of useful modules, so you don't have to write everything from scratch and is really two things: a runtime environment and a library.
                </p>

                <h4 class="page-header">Basic HTTP Server</h4>

                <p>
                  Create the file server.js in the root directory of your project, and fill it with the following code:
                </p>

                <div class="bs-example">
                  <pre>
                    var http = require("http");
                    http.createServer(function(request, response) {
                    response.writeHead(200, {"Content-Type": "text/plain"});
                    response.write("Hello World");
                    response.end();
                  }).listen(8888);
                </pre>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 id="integrate" class="panel-title">Execute your script with Node.js in the console or terminal</h4>
                </div>
                <div class="panel-body">
                  <kbd>node server.js</kbd>
                </div>
              </div>

              <p>Open your browser and point it at http://localhost:8888/. This should display a web page that says "Hello World".</p>

              <br>

              <h3 id="js-concepts">Conceptual Overview</h3>
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Concept</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="guide/concepts#template">Template</a></td>
                    <td>HTML with additional markup</td>
                  </tr>
                  <tr>
                    <td><a href="guide/concepts#directive">Directives</a></td>
                    <td>extend HTML with custom attributes and elements</td>
                  </tr>
                  <tr>
                    <td><a href="guide/concepts#model">Model</a></td>
                    <td>the data that is shown to the user and with which the user interacts</td>
                  </tr>
                  <tr>
                    <td><a href="guide/concepts#scope">Scope</a></td>
                    <td>context where the model is stored so that controllers, directives and expressions can access it</td>
                  </tr>
                  <tr>
                    <td><a href="guide/concepts#expression">Expressions</a></td>
                    <td>access variables and functions from the scope</td>
                  </tr>
                  <tr>
                    <td><a href="guide/concepts#compiler">Compiler</a></td>
                    <td>parses the template and instantiates directives and expressions</td>
                  </tr>
                  <tr>
                    <td><a href="guide/concepts#filter">Filter</a></td>
                    <td>formats the value of an expression for display to the user</td>
                  </tr>
                  <tr>
                    <td><a href="guide/concepts#view">View</a></td>
                    <td>what the user sees (the DOM)</td>
                  </tr>
                  <tr>
                    <td><a href="guide/concepts#databinding">Data Binding</a></td>
                    <td>sync data between the model and the view</td>
                  </tr>
                  <tr>
                    <td><a href="guide/concepts#controller">Controller</a></td>
                    <td>the business logic behind views</td>
                  </tr>
                  <tr>
                    <td><a href="guide/concepts#di">Dependency Injection</a></td>
                    <td>Creates and wires objects / functions</td>
                  </tr>
                  <tr>
                    <td><a href="guide/concepts#injector">Injector</a></td>
                    <td>dependency injection container</td>
                  </tr>
                  <tr>
                    <td><a href="guide/concepts#module">Module</a></td>
                    <td>configures the Injector</td>
                  </tr>
                  <tr>
                    <td><a href="guide/concepts#service">Service</a></td>
                    <td>reusable business logic independent of views</td>
                  </tr>
                </tbody>
              </table>


              <div class="bs-callout bs-callout-info">
                <h4>Useful reading</h4>
                <p>For further information about how to manage http request server read:</p>
                <p><a href="http://www.nodebeginner.org/#server-side-javascript">http://www.nodebeginner.org/#server-side-javascript</a></p>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h2 id="js-lab">Angular JS Lab</h2>

              <h3 id="js-target-audience">Target Audience</h3>
              <p>This lab targets Web UI developers regardless of their current seniority. However, is expected a basic knowledge on web technologies such as HTML, CSS, and an intermediate knowledge on JavaScript.
                This lab is not a tutorial, its goal is not to teach Angular.js but to provide problems to exercise key Angular.js concepts, and best practices.
              </p>

              <h3 id="js-intro">Introduction</h3>
              <p>This lab is structured as a set of exercises leading to the construction of a web application. The lab will be considered completed by the developer once he has finished all the exercises and uploaded them to GitHub. In addition, the application must be deployed in GitHub pages so it can be used online. The evaluation will be done through code reviews using GitHub’s review tools. <br>
                Please fork this repository, and send a PR as soon as the lab is finished. Afterwards, the PR will be evaluated by an architect or senior developer.

              </p>

              <h3 id="js-reading">Require Reading</h3>

              <p>
                <small>AngularJS Developer Guide: </small> <br>
                <a href="http://docs.angularjs.org/guide">http://docs.angularjs.org/guide</a>
              </p>

                <p>
                  <small>Angular’s FAQ:</small><br>
                  <a href="https://github.com/angular/angular.js/wiki/FAQ">https://github.com/angular/angular.js/wiki/FAQ</a>
                </p>

                <p>
                  <small>Collection of curated AngularJS-related links:</small> <br>
                  <a href="https://github.com/jmcunningham/AngularJS-Learning">https://github.com/jmcunningham/AngularJS-Learning</a>
                </p>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <h2 id="js-practices">Best Practices</h2>

                <div class="panel panel-info">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Angular’s Best Practices</div>

                  <!-- List group -->
                  <ul class="list-group">
                    <li class="list-group-item">
                      <small>From Angular's wiki</small> <br>
                      <a href="https://github.com/angular/angular.js/wiki/Best-Practices">https://github.com/angular/angular.js/wiki/Best-Practices</a>
                    </li>

                    <li class="list-group-item">
                      <small>Advanced Design Patterns and Best Practices </small> <br>
                      <a href="http://trochette.github.io/Angular-Design-Patterns-Best-Practices/#/intro">http://trochette.github.io/Angular-Design-Patterns-Best-Practices/#/intro</a>
                    </li>

                    <li class="list-group-item">
                      <small>AngularJS: The Bad and The Better</small> <br>
                      <a href="http://miceplans.net/node/36">http://miceplans.net/node/36</a>
                    </li>

                    <li class="list-group-item">
                      <small>AngularJS Best Practices: I’ve Been Doing It Wrong! Part 1 of 3</small> <br>
                      <a href="http://www.artandlogic.com/blog/2013/05/ive-been-doing-it-wrong-part-1-of-3/">http://www.artandlogic.com/blog/2013/05/ive-been-doing-it-wrong-part-1-of-3/</a>
                    </li>

                    <li class="list-group-item">
                      <small>AngularJS Best Practices: I’ve Been Doing It Wrong! Part 2 of 3 </small> <br>
                      <a href="http://www.artandlogic.com/blog/2013/05/ive-been-doing-it-wrong-part-2-of-3/">http://www.artandlogic.com/blog/2013/05/ive-been-doing-it-wrong-part-2-of-3/</a>
                    </li>

                    <li class="list-group-item">
                      <small>AngularJS Best Practices: I’ve Been Doing It Wrong! Part 3 of 3 </small> <br>
                      <a href="http://www.artandlogic.com/blog/2013/05/ive-been-doing-it-wrong-part-3-of-3/">http://www.artandlogic.com/blog/2013/05/ive-been-doing-it-wrong-part-3-of-3/</a>
                    </li>

                    <li class="list-group-item">
                      <small>A Better Way to Learn AngularJS </small> <br>
                      <a href="http://www.thinkster.io/angularjs/GtaQ0oMGIl/a-better-way-to-learn-angularjs">http://www.thinkster.io/angularjs/GtaQ0oMGIl/a-better-way-to-learn-angularjs</a>
                    </li>

                  </ul>
                </div>

                <div class="panel panel-info">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Angular’s Anti-Patterns</div>

                  <!-- List group -->
                  <ul class="list-group">
                    <li class="list-group-item">
                      <small>From Angular's wiki</small> <br>
                      <a href="https://github.com/angular/angular.js/wiki/Anti-Patterns">https://github.com/angular/angular.js/wiki/Anti-Patterns</a>
                    </li>

                    <li class="list-group-item">
                      <small>AngularJS: 6 Common Pitfalls Using Scopes </small> <br>
                      <a href="http://thenittygritty.co/angularjs-pitfalls-using-scopes">http://thenittygritty.co/angularjs-pitfalls-using-scopes</a>
                    </li>

                  </ul>
                </div>

            </div>
          </div>

              </div>

              <div class="col-md-3">

                <div role="complementary" class="bs-docs-sidebar hidden-print affix" data-spy="affix" data-offset-top="200" data-offset-bottom="200">
                  <ul class="nav bs-docs-sidenav">

                    <li class="active">
                      <a href="#js-overview">Overview</a>
                      <ul class="nav">
                        <li><a href="#js-why-angular">Why Angular JS?</a></li>
                        <li><a href="#js-downloading">Downloading Angular and dependencies</a></li>
                        <li><a href="#js-starting-server">Starting a Node Server</a></li>
                        <li><a href="#js-concepts">Conceptual Overview</a></li>
                      </ul>
                    </li>
                    <li><a href="#js-lab">Angular JS Lab</a>
                      <ul class="nav">
                        <li><a href="#js-target-audience">Target Audience</a></li>
                        <li><a href="#js-intro">Introduction</a></li>
                        <li><a href="#js-reading">Require Reading</a></li>
                      </ul>
                    </li>
                    <li><a href="#js-practices">Best Practices</a></li>

                  </ul>
                  <a href="#top" class="back-to-top">
                    Back to top
                  </a>
                </div>

              </div>

            </div>

            <footer class="bs-footer">
              <p class="text-muted">Globant's Trainings | Rosario - Nordlink</p>
            </footer>

          </div>



          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
          <script src="https://code.jquery.com/jquery.js"></script>
          <!-- Include all compiled plugins (below), or include individual files as needed -->
          <script src="../resources/js/bootstrap.min.js"></script>
          <script src="../resources/js/affix.js"></script>
          <script src="../resources/js/docs.min.js"></script>
          <script src="../resources/js/angular-training/scripts.js"></script>
        </body>
        </html>